body{
  margin: 0;
  padding: 0;
  direction: rtl;
  font-family:Arial, Helvetica, sans-serif;

  a{
    text-shadow:rgb(190, 8, 8);
    text-decoration: none;
    color: black;
    padding-right: 2%;
    font-size: 11px;
  }
  a:hover{
    color: rgb(177, 177, 177);
  }
    .container{
      height: 100vh;
      .bar{
        direction: ltr;
        position:fixed;
        top: 0;
        left: 0;
        height: 100vh;
        .sidebar{
          position: relative;
          width: 70px;
          display: flex;
          flex-direction: column;
          height: 100%;
          border-right: 1px solid rgb(211, 210, 210);
          .sidebar1 {
            top: 7%;
            position: absolute;
            background-color:red ;
            display: flex;
            transform: rotate(270deg) ;

            strong{
              font-size: 30px;
            }
          }       
          .sidebar2 {
            position: absolute;
            top:47%;
            display: flex;
            background-color:yellow ;
            transform: rotate(270deg) ;

            a{
              padding-left: 20px;
            }
          }
          .sidebar3 {
            top: 90%;
            position: absolute;

            background-color:green ;
            display: flex;
            transform: rotate(-90deg);

            a{
              padding-left: 20px;
            }
          }
        }   
      }    



      .main{
        width: calc(100% - 70px);
        height: 100%;
        .topbar{
          display: flex;
          justify-content: space-between;
          height: 70px;
          
          .header-top{
            margin-top: 20px;
            width: 180px;
            flex: 50%;
            i{
              background-color: black;
              color: white;
              border-radius: 50%;
              padding:5px;
              margin-right: 20px;
            }
            i:hover{
              background-color: rgb(177, 177, 177);
            }
          } 
        }
        .container-main{
          .slidshow{
            
            img{
              height: 500px;
              width: 400px;
            } 
          }
        }
      }
    }   
}
  
     
    
  
  
